#attendance {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#attendance td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#attendance tr:nth-child(even) {
  background-color: #f2f2f2;
}

#attendance tr:hover {
  background-color: #ddd;
}

#header {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #2116ed;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
